.feed {
    color: white;
    font-size: 10vw;
    font-family: Kalam;
    text-align: center;
    margin: 0;
    }
.feed2 {
    color: white;
    font-size: 8vw;
    font-family: Kalam;
    text-align: center;
    margin: 0;
    }